body {
    background-color: #0d0221;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#phone {
    background: linear-gradient(#3066be, #2af5ff);
    border-radius: 15px;
    height: 480px;
    margin: 0 auto;
    width: 300px;
}

#screen-border {
    background-color: #212529;
    border-radius: 6px;
    height: 440px;
    margin: 20px 20px;
    position: absolute;
    width: 260px;
}

#cam {
    background-color: #A8B9F0;
    border-radius: 50%;
    box-sizing: border-box;
    height: 9px;
    margin: 12px auto 0 auto;
    width: 9px;
}

#screen {
    background-color: #fff;
    height: 374px;
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    width: 250px;
}

#fake-btn {
    border: 1px solid #A8B9F0;
    border-radius: 50%;
    height: 20px;
    margin: 390px 120px 0 120px;
    position: absolute;
    width: 20px;
}

#results-div {
    color: #000;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 70px;
}

#check-btn {
    background-color: #48E096;
}

#clear-btn {
    background-color: #e0485f;
}